body{
    background-color: bisque;

}

h1{
    padding: 10px;
    font-size: 200%;
    text-align: center;
    color: rgb(175, 37, 37);
}

h2{
    text-align: left;
    color: darkred;
    padding: 2%;
}

p{
    text-align: justify;
    color: darkred;
    text-align: center;
}

img{
    
        width: 300px;
        height: 200px;
        margin: 10px;
        border: 2px solid black;
        filter: (100%);
      
       
   

}